.container-show {
  margin: 0 auto;
  width: 500px;
  min-height: calc(100vh - 140px);
  color: grey;
}

.container-show  a {
  text-decoration: none,
}


.container-show  a {
  text-decoration: none;
}

.container-show  h1 {
  font-size: 35px;
}

.container-show  h2 {
  font-size: 20px;
}

.container-show  h3 {
  font-size: 25px;
}

.container-show  h4 {
  font-size: 18px;
  font-style: italic;
}

