#map {
  flex: 0 0 450px;
  height: 500px;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  margin-top: 100px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}
