#map {
  flex: 0 0 450px;
  height: 600vh;
  // position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  margin: 40px 0 40px 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}
