<h1>Rentals#create</h1>
<p>Find me in app/views/rentals/create.html.erb</p>

<div class="container center">
  <div class="form-wrapper" style="width: 600px; margin: 0 auto;">
    <div class="row">
      <div class="col-xs-4 col-xs-offset">
      <h1>New rental</h1>

      <%= simple_form_for [@boat, @rental] do |f| %>
        <%= f.input :checkindate, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :checkoutdate, as: :string, required: false, wrapper_html: {class: "form-hidden"}, input_html: {class: "datepicker"}  %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
</div>
