<div class="home_banner">
  <h1> Les pirates d'eau douce </h1>
  <p>La location relax pour naviguer sur le Léman</p>
  <%= link_to "voir les bateaux", boats_path, :class => 'btn btn-default btn-lg' %>

<!-- <video id="background-video" class="background-video reload-page" autoplay loop>
  <source src="https://res.cloudinary.com/afleur/video/upload/v1550749503/water.mp4" type="video/mp4" />
</video> -->

<!--   <div class="wrapper">
    <div class="pattern">
      <video id="video" autoplay loop id="video-background" muted width="100%">
        <source src="http://res.cloudinary.com/dw5ekt0rf/video/upload/v1502966890/I%CC%87KAS_TEASER_TANITIM_yfy1yw.mp4" type="video/mp4">
      </video>
    </div>
  </div> -->

<!-- <div id="searchbar">
  <div class="searchbar">
    <form id="searchbar-form" action="/boats">

      <div class="searchbar__input-wrapper">

        <label class="searchbar__location">
          <span class="screen-reader-only">
            Select your port:
          </span>
          <input
            id="location"
            type="text"
            class="input-large input-contrast"
            autocomplete="off"
            name="location"
            placeholder="Geneva, Ouchy..." />
            <div id="searchbar-location-error" class="searchbar__location-error hide">
              Select your port:
            </div>
        </label>

        <label class="searchbar__checkin">
          <span class="screen-reader-only">
            Check-in
          </span>
          <input
            id="checkin"
            type="text"
            class="checkin input-large input-contrast"
            name="checkin"
            placeholder="Check-in" />
        </label>

        <label class="searchbar__checkout">
          <span class="screen-reader-only">
            Check-out
          </span>
          <input
            id="checkout"
            type="text"
            class="checkout input-large input-contrast"
            name="checkout"
            placeholder="Check-out" />
        </label>

        <label class="searchbar__guests">
          <span class="screen-reader-only">
            Boat type
          </span>
          <div class="boat type">
            <select id="category" name="category">
              <option value="Sailboat">Sailboat</option>
              <option value="Motorboat">Motorboat</option>
              <option value="Catamaran">Catamaran</option>
              <option value="RIB">RIB</option>
              <option value="Jet Ski">Jet Ski</option>
              <option value="Houseboat">Houseboat</option>
            </select>
          </div>
        </label>

      </div>

      <button
        id="submit_location"
        type="submit"
        class="searchbar__submit btn btn-primary btn-large">
        Search
      </button>

      <input type="hidden" name="source" value="bb">

    </form>
  </div>
</div>

      </div>
    </div>
  </div>
</div>
-->
<!-- </div> -->

