<div class="home_banner">
  <h1> Les pirates d'eau douce </h1>
  <p>La location relax pour naviguer sur le Léman</p>
  <%= link_to "voir les bateaux", boats_path, :class => 'btn btn-default btn-lg' %>
</div>
