

/* Your card CSS code here */
.cards {
  position: relative;
  width: 400px;
  height: 320px;
  background-color: white;
  box-shadow: 1px 1px 2px lightgrey;
}

.card-body {
  background-size: cover;
  height: 200px;
  color: #E5E5E5;
}

.card-avatar {
  position: absolute;
  right: 3px;
  top: 3px;
}

.card-body h1{
  position: absolute;
  left: 3px;
  top: 3px;
}

.card-body  h2 {
  position: absolute;
  left: 3px;
  top: 200px;
}

.card-body p {
  position: absolute;
  font-size: 15px;
  left: 3px;
  top: 150px;
}

.card-footer{
  display: flex;
  justify-content: space-round;
  margin: 0;
  flex-direction: column;
  position: absolute;
  bottom: 5px;
  color: #CED0D4;
  text-decoration: none;
}

.card-social {
  display: flex;
  align-items: center;
  text-decoration: none;
  }
