.form-hidden {
  visibility: hidden;
}

.rental-form {
  display: flex;
  justify-content: space-around;
}

.rental-form-flex-end {
  display: flex;
  align-items: flex-start;
  // justify-content: space-around;
}

.selected {
margin-top: 30px;
  // justify-content: space-around;
}
