<div class="center">
  <% unless boat.photo_url.nil? %>
    <%= cl_image_tag boat.photo, height: 100, width: 150, crop: :fill, radius: 5 %>
  <% end %>
    <p><strong><%= boat.name  %></strong></p>
    <p><%= boat.price_per_day%> CHF / jour</p>
</div>
