<h1>Available Boats</h1>

<% @boats.each do |boat| %>
<ul>
  <li>
  <%= boat.name %>
  <%= boat.category %>
  <%= boat.address %>
  <%= boat.price_per_day %>
  </li>
</ul>
<% end %>



<!-- <p>Find me in app/views/boats/index.html.erb</p>
 -->
